html {
  font-family: sans-serif;
}

/* Your CSS below here */
p {
  width: 200px;
  line-height: 8;
  margin: auto;
  font-size: 1.1rem;
  background-color: bisque;
  text-shadow: 1px 0px 0px black;
  color: purple;
  text-align: center;
  border-radius: 3px;
  border: 1px solid rgb(221, 157, 79);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.2));
  box-shadow: 
    inset 2px 2px 3px rgba(255,255,255,0.6),
    inset -2px -2px 3px rgba(0,0,0,0.6),
    2px 2px 5px black;
}